// import in order to use scss variables
@import './../../../variables.scss';

.card {
    width: 180px;
    margin: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;

    picture {
        
        
        img {
            width: 180px;
            height: auto;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
    }

    .content {
        font-family: $bebas;
        font-size: 18px;
        display: flex;
        position: relative;
        flex-direction: column;

        h3 {
            margin-top: 10px;
            margin-bottom: 5px;
            font-size: 22px;
            line-height: 18px;
        }

        button {
            background-color: $color20;
            color: $color10;
            margin-top: 5px;
            font-weight: bold;
            border: none;
            padding: 5px 15px;
            font-size: 14px;
            cursor: pointer;
            bottom: 4px;
        }
    }
}