// import in order to use scss variables
@import './../../../variables.scss';

.main {
    margin-top: 65px;

    .featured {

        header {
            background-image: url('./../../../assets/bg.png');
            height: 200px;
            width: 100%;
            position: relative;
    
            h2 {
                color: $color10;
                font-size: 60px;
                line-height: 50px;
                position: absolute;
                bottom: 0;
            }
        }

        .comics {
            padding: 20px 0px;
        }
    }

    .others {
        width: 100%;
        padding-bottom: 20px;

        .comics {
            width: 100%;
            display: flex;
            flex-direction: row;
        }

        header {

            h2 {
                font-size: 32px;
            }
        }
    }

    
}