<main class="main">
    <section class="featured">
        <header>
            <div class="container">
                <h2>QUADRINHOS EM DESTAQUE</h2>
            </div>
        </header>
        <div class="comics">
            <div class="container">
                <app-card-featured>
                </app-card-featured>

                <app-card-featured>
                </app-card-featured>
            </div>
        </div>
    </section>
    <section class="others">
        <div class="container">
            <header>
                <h2>Mais quadrinhos</h2>
            </header>
            <div class="comics">
                
                <app-card>
                </app-card>

                <app-card>
                </app-card>

                <app-card>
                </app-card>

                <app-card>
                </app-card>

                <app-card>
                </app-card>

            </div>
        </div>
    </section>
</main>
