<main class="main">
    <section class="featured">
        <header>
            <div class="container">
                <h2>QUADRINHOS EM DESTAQUE</h2>
            </div>
        </header>
        <div class="comics">
            <div class="container">

                <article class="card -featured">
                    <picture>
                        <img src="./../../../assets/thumb.png" alt="">
                    </picture>
                    <div class="content">
                        <span>Publicado em 12/06/2021</span>
                        <h3>The United States of Capitain America</h3>
                        <span>R$ 28,00</span>
                        <button>+ Adicionar ao carrinho</button>
                    </div>
                </article>

                <article class="card -featured">
                    <picture>
                        <img src="./../../../assets/thumb.png" alt="">
                    </picture>
                    <div class="content">
                        <span>Publicado em 12/06/2021</span>
                        <h3>The United States of Capitain America</h3>
                        <span>R$ 28,00</span>
                        <button>+ Adicionar ao carrinho</button>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="others">
        <div class="container">
            <header>
                <h2>Mais quadrinhos</h2>
            </header>
            <div class="comics">
                <article class="card">
                    <picture>
                        <img src="./../../../assets/thumb.png" alt="">
                    </picture>
                    <div class="content">
                        <h3>The United States of Capitain America</h3>
                        <span>R$ 28,00</span>
                        <button>+ Adicionar ao carrinho</button>
                    </div>
                </article>

                <article class="card">
                    <picture>
                        <img src="./../../../assets/thumb.png" alt="">
                    </picture>
                    <div class="content">
                        <h3>The United States of Capitain America</h3>
                        <span>R$ 28,00</span>
                        <button>+ Adicionar ao carrinho</button>
                    </div>
                </article>

                <article class="card">
                    <picture>
                        <img src="./../../../assets/thumb.png" alt="">
                    </picture>
                    <div class="content">
                        <h3>The United States of Capitain America</h3>
                        <span>R$ 28,00</span>
                        <button>+ Adicionar ao carrinho</button>
                    </div>
                </article>
                
                <article class="card">
                    <picture>
                        <img src="./../../../assets/thumb.png" alt="">
                    </picture>
                    <div class="content">
                        <h3>The United States of Capitain America</h3>
                        <span>R$ 28,00</span>
                        <button>+ Adicionar ao carrinho</button>
                    </div>
                </article>
                
                <article class="card">
                    <picture>
                        <img src="./../../../assets/thumb.png" alt="">
                    </picture>
                    <div class="content">
                        <h3>The United States of Capitain America</h3>
                        <span>R$ 28,00</span>
                        <button>+ Adicionar ao carrinho</button>
                    </div>
                </article>
                
                <article class="card">
                    <picture>
                        <img src="./../../../assets/thumb.png" alt="">
                    </picture>
                    <div class="content">
                        <h3>The United States of Capitain America</h3>
                        <span>R$ 28,00</span>
                        <button>+ Adicionar ao carrinho</button>
                    </div>
                </article>

            </div>
        </div>
    </section>
</main>
