@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');

$bebas:  'Bebas Neue', cursive;
$roboto: 'Roboto', sans-serif;

$color10: #FFFFFF;
$color11: #FBF3F8;
$color18: #3F3232;
$color19: #000000;
$color20: #EB0A0A;
$color21: #C60000;
